# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json

# Dependencies (kalau nanti nambah tooling)
node_modules/

# Env / secrets
.env
.env.local

# Build output (kalau nanti pakai bundler lagi)
dist/
.parcel-cache/
